<!DOCTYPE html>

<html>

    <head>
        <title>Neeraj Chat Box</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body style="background-color:DodgerBlue;">
        <h4 style="background-color:DodgerBlue;"> Let's start chat with me...... </h4>
        <h4 style="background-color:DodgerBlue;"> Me & You Only...... </h4>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">Please type message here </label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="send" />
            </p>
        <h4 style="background-color:DodgerBlue;"> Thank you for message me </h4>
        </form>
    </body>

</html>
